.left-menu__categorie-name {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 11px;
  letter-spacing: 5%;
  color: #888;
  transition: .3s ease-in-out;
}

.left-menu__categorie-name:hover {
  color: #fff;
  transform: scale(1.1);
}
