.left-menu__categorie-title {
  color: #6c6c6c;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 11px;
  letter-spacing: 5%;
  transition: 0.3s ease-in-out;
  margin-top: 75px;
  margin-left: 40px;
}
